div.mermaid {
    text-align: center;
}

html * {
  font-size: 16px;
  line-height: 1.525;
  font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type:none;
}

li {
        padding-left: 1.5em;
        text-indent:-1.5em;
    }

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.mermaid {
	height:130% !important; 
	
}

.hangingindent {
  padding-left: 22px ;
  text-indent: -22px ;
} 